---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Code / Work">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Languages/Frameworks I've worked with:
      </p>
      <ul class="list-disc list-inside">
        <li>Python</li>
        <li>C++</li>
        <li>Javascript</li>
        <li>React</li>
        <li>Nodejs</li>
        <li>JAX</li>
      </ul>
    </div>
    <p class="text-sm font-light">
     Projects that I've been working on lately:
      <li>2D Hydrodynamics code</li>
      <li><a href="https://github.com/nairakhils/swirl" target="_blank">1D Hydrodynamics code in JAX</a></li>
    </p>
    <p class="text-sm font-light">
      The 2D code is primarily written in C++ (as a part of the Clemson Computational Astrophysics Group).<br>
      The 1D code is written in JAX, and it includes 5th order WENO reconstruction.<br>
    </p>
  </div>
</Card>
