---
import Card from "./Card/index.astro";
---

<Card colSpan="lg:col-span-2" rowSpan="md:row-span-2" title="Quick Links">
  <div class="flex flex-col space-y-4">
    <div>
      <h2 class="text-sm text-gray-500">Latest work:</h2>
     <p><a href="https://github.com/nairakhils/swirl" target="_blank" title="Swirl1d" rel="noopener noreferrer">Swirl-v0.1 - JAX</a></p>
    </div>
    <div>
      <h2 class="text-sm text-gray-500">Secondary:</h2>
      <p><a href="https://github.com/nairakhils/QuasarMorphCNN" target="_blank" title="CNN" rel="noopener noreferrer">CNN models - QuasarMorph</a></p>
    </div>
  </div>
</Card>